<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <div class="main-bar">
    <ul class="nav justify-content-center main-nav">
      <li class="nav-item">
        <a class="nav-link active" href="http://linkedin.com/in/nadav-lev-483ba121" target="_blank">Linkedin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Stack Overflow</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Kaggel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Top Coder</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Git Hub</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">C.V.</a>
      </li>
    </ul>
  </div>
</div>


